@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    margin: 1000;
    font-family: 'Montserrat', sans-serif;
    background-color: #01394C;
}
* {
    box-sizing: border-box;
    margin: 20;
    padding: 0;
    color: #F1F1F1;
}
.hidden {
 opacity: 0;
 filter: blur(20px);
 transition: all 1s;
 transform: translateY(20%);
}
@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}
.show {
 opacity: 1;
 filter: blur(0);
 transform: translateY(0);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #01394C; 
    padding: 10px 20px;
}
.logo {
    height: 50px; 
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav li {
    padding: 0 15px; 
}
nav a {
    color: #F1F1F1; 
    text-decoration: none; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
nav a:hover {
    color: #E0CBA8; 
}
.logo {
    margin-right: auto;
}
li, a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #E0CBA8;
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: right;
}
li a {
    display: inline-block;
    color: #F1F1F1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 120px;
    
}

h1 {
    color: #E0CBA8;
    font-size: 72px;
    font-weight: 700;
    word-wrap: break-word;
}

p, li {
    color: #F1F1F1;
    font-weight: 400;
    word-wrap: break-word;
}
p {
    font-size: 26px;
    letter-spacing: 0.52px;
}
li {
    font-size: 20px;
}
h3 {
    color: #E0CBA8;
    font-size: 36px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}
img {
    width: 100%;
    height: auto;
    position: relative;
}

.footer-dark {
    position: relative;
    width: 1440px;
    height: 593px;
    background-color: #809196;
  }
  
  .footer-dark .footer-UI {
    position: relative;
    width: 1074px;
    height: 403px;
    top: 100px;
    left: 183px;
  }
  
  .footer-dark .product {
    position: absolute;
    width: 226px;
    height: 129px;
    top: 32px;
    left: 0;
  }
  
  .footer-dark .text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #01222c;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .footer-dark .div {
    position: absolute;
    top: 43px;
    left: 0;
    opacity: 0.75;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #f1f1f1;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .footer-dark .text-wrapper-2 {
    position: absolute;
    top: 75px;
    left: 0;
    opacity: 0.75;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #f1f1f1;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .footer-dark .text-wrapper-3 {
    position: absolute;
    top: 107px;
    left: 0;
    opacity: 0.75;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #f1f1f1;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .footer-dark .information {
    position: absolute;
    width: 143px;
    height: 161px;
    top: 32px;
    left: 283px;
  }
  
  .footer-dark .support {
    position: absolute;
    top: 139px;
    left: 0;
    opacity: 0.75;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #f1f1f1;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .footer-dark .company {
    position: absolute;
    width: 156px;
    height: 95px;
    top: 32px;
    left: 515px;
  }
  
  .footer-dark .company-2 {
    position: absolute;
    width: 150px;
    top: 0;
    left: 0;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #01222c;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .footer-dark .about-us {
    position: absolute;
    width: 86px;
    top: 43px;
    left: 0;
    opacity: 0.75;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #f1f1f1;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .footer-dark .careers {
    position: absolute;
    width: 128px;
    top: 75px;
    left: 0;
    opacity: 0.75;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #f1f1f1;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .footer-dark .subscribe {
    position: absolute;
    width: 342px;
    height: 258px;
    top: 0;
    left: 736px;
  }
  
  .footer-dark .overlap {
    position: relative;
    width: 340px;
    height: 260px;
    top: -1px;
    left: -1px;
    border-radius: 10px;
  }
  
  .footer-dark .rectangle {
    position: absolute;
    width: 340px;
    height: 260px;
    top: 0;
    left: 0;
    background-color: #2e474e;
    border-radius: 10px;
    opacity: 0.1;
  }
  
  .footer-dark .learn-more {
    position: absolute;
    width: 118px;
    top: 33px;
    left: 43px;
    font-family: "SF Pro-Regular", Helvetica;
    font-weight: 400;
    color: #01222c;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .footer-dark .text-field {
    position: absolute;
    width: 250px;
    height: 50px;
    top: 76px;
    left: 43px;
  }
  
  .footer-dark .overlap-group {
    position: relative;
    width: 248px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1.5px solid;
    border-color: #e7e8f2;
  }
  
  .footer-dark .arrows-down-top-move-wrapper {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 198px;
    background-image: url(./img/fill.svg);
    background-size: 100% 100%;
  }
  
  .footer-dark .arrows-down-top-move {
    position: absolute;
    width: 15px;
    height: 13px;
    top: 19px;
    left: 18px;
  }
  
  .footer-dark .label {
    position: absolute;
    width: 139px;
    top: 14px;
    left: 14px;
    font-family: "SF Pro-Regular", Helvetica;
    font-weight: 400;
    color: #7a7e92;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    background: transparent;
    border: none;
    padding: 0;
  }
  
  .footer-dark .hello-we-are-flair {
    position: absolute;
    width: 254px;
    top: 146px;
    left: 43px;
    opacity: 0.6;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20.4px;
  }
  
  .footer-dark .span {
    color: #f1f1f1;
  }
  
  .footer-dark .text-wrapper-4 {
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #e0cba8;
  }
  
  .footer-dark .divider {
    position: absolute;
    width: 1076px;
    height: 3px;
    top: 311px;
    left: -1px;
    background-color: var(--white);
    border: 1px solid;
    border-color: #203c86;
    opacity: 0.2;
  }
  
  .footer-dark .group {
    position: absolute;
    width: 1074px;
    height: 60px;
    top: 343px;
    left: 0;
  }
  
  .footer-dark .terms-privacy {
    position: absolute;
    width: 242px;
    height: 18px;
    top: 16px;
    left: 357px;
  }
  
  .footer-dark .pricing {
    position: absolute;
    width: 54px;
    top: 0;
    left: 0;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #01222c;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .footer-dark .pricing-2 {
    width: 50px;
    left: 85px;
    position: absolute;
    top: 0;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #01222c;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .footer-dark .pricing-3 {
    width: 57px;
    left: 179px;
    position: absolute;
    top: 0;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #01222c;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .footer-dark .social-icons {
    position: absolute;
    width: 150px;
    height: 36px;
    top: 6px;
    left: 925px;
  }
  
  .footer-dark .icon {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
  }

@media (max-width: 768px) {
    header .nav__links {
        flex-direction: column;
        gap: 10px;
    }
    main {
        grid-template-columns: 1fr;
    }
    .project p, .project li {
        font-size: 16px;
    }
    .project h3 {
        font-size: 28px;
    }
    .footer-content {
        flex-direction: column;
    }
}